<form [formGroup]="courseForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" style="z-index: 5454;">
    <div>
      <label>Title:</label>
      <input type="text" formControlName="title" />
    </div>
  
    <div>
      <label>Description:</label>
      <textarea formControlName="description"></textarea>
    </div>
  
    <div>
      <label>Image:</label>
      <input type="file" (change)="onFileChange($event)" />
    </div>
  
    <div>
      <label>Price:</label>
      <input type="number" formControlName="price" />
    </div>
  
  
  
    <div>
      <label>Category:</label>
      <input type="text" formControlName="category" />
    </div>
  
    <button type="submit" [disabled]="courseForm.invalid">Add Course</button>
  </form>
  